services:
  - type: web
    name: idrepaire
    env: node
    buildCommand: npm install
    startCommand: npm start
    staticPublishPath: ./public
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /
    autoDeploy: true
